
nav {
    background-color: rgb(235, 255, 207);
    width: 100vw;
  }
  ul {
    list-style: none;
    border-left: black;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
    text-align: center;
    background-color: rgb(255, 255, 255);
  }
  ul li a {
    margin: 5px;
    text-decoration: none;
    color: brown;
  }
  
  .accesorios {
    color: white;
    text-align: center;
  }
  
  .calzado {
    color: white;
    text-align: center;
  }
  
  .contacto {
    color: rgb(0, 0, 0);
    text-align: center;
  }
  .contacto div h1 {
    color: white;
  }
  
  .nosotros {
    color: white;
    text-align: center;
  }
  
  .deportivo {
    background-color: rgba(0, 0, 0, 0.205);
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .casual {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.205);
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .futbol {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.205);
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .logo {
    height: 300px;
  }
  header {
    background-color: rgb(0, 0, 130);
    width: 100vw;
    text-align: center;
  }
  main section {
    background-color: white;
    margin: 20px;
    text-align: center;
    display: flex;
    flex-flow: row;
  }
  footer {
    background-color: rgb(0, 0, 130);
    height: 30vh;
    width: 100%;
  }
  section {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 7vh;
    text-align: center;
    margin: auto;
  }
  .somos {
    background-color: rgb(235, 255, 207);
    text-align: center;
  }
  main {
    margin: auto;
    background-color: rgb(235, 255, 207);
  }
  section p {
    font-family: Arial, Helvetica, sans-serif;
  }
  main ul {
    display: inline-block;
  }
  main ul li img {
    height: 50vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  main ul h2 {
    background-color: rgb(0, 0, 130);
    color: white;
  }
  main ul li {
    margin: 1vh;
  }
  footer ul li a img {
    height: 7vh;
    text-align: center;
    margin-top: 15%;
  }
  footer ul li {
    display: inline-block;
  }
  #contacto {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #formulario {
    padding: 50px 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 340px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
  }
  .input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  body {
    width: 100vw;
    position: relative;
    background-color: rgb(235, 255, 207);
  }
  @media screen and (max-width: 480px) {
    .calzado {
      grid-template-columns: repeat (6, 1rf);
      grid-template-rows: 5vh 5vh 25vh 25vh 25vh 15vh;
      grid-template-areas:
        ". . header header . ."
        ". . nav-calzado nav-calzado . ."
        "uno uno dos dos tres tres"
        "cuatro cinco seis"
        "c1 c2 c3"
        "c4 c5";
        width: 100%;
        margin: 0px;
        padding: 0%;
        main ul {
          display: inline-grid;
        }main ul li img {
          width: 18rem;
        }
    }
    .header {
      grid-area: header;
      display: flex;
      text-align: center;
      justify-content: center;
      width: 100%;
    }
    .nav-calzado {
      grid-area: nav-calzado;
      display: flex;
      width: 100%;
      text-align: center;
    }
    .uno {
      grid-area: uno;
      display: flex;
      width: 30vw;
      height: auto;
    }
    .dos {
      grid-area: dos;
      display: flex;
      width: 30vw;
      height: auto;
    }
    .tres {
      grid-area: tres;
      display: flex;
      width: 30vw;
      height: auto;
    }
    .cuatro {
      grid-area: cuatro;
      display: flex;
      width: 30vw;
      height: auto;
    }
    .cinco {
      grid-area: cinco;
      display: flex;
      width: 30vw;
      height: auto;
    }
    .seis {
      grid-area: seis;
      display: flex;
      height: auto;
      width: 30vw;
    }
    .c1 {
      grid-area: c1;
      display: flex;
      width: 30vw;
      height: auto;
    }
    .c2 {
      grid-area: c2;
      display: flex;
      width: 30vw;
      height: auto;
    }
    .c3 {
      grid-area: c3;
      display: flex;
      width: 30vw;
      height: auto;
    }
    .c4 {
      grid-area: c4;
      display: flex;
      width: 30vw;
      height: auto;
    }
    .c5 {
      grid-area: c5;
      display: flex;
      width: 30vw;
      height: auto;
  }
  .f1 {
    grid-area: f1;
    display: flex;
    width: 30vw;
    height: auto;
  }
  .f2 {
    grid-area: f2;
    display: flex;
    width: 30vw;
    height: auto;
  }
  .f3 {
    grid-area: f3;
    display: flex;
    width: 30vw;
    height: auto;
  }
  .f4 {
    grid-area: f4;
    display: flex;
    width: 30vw;
    height: auto;
  }
  .f5 {
    grid-area: f5;
    display: flex;
    width: 30vw;
    height: auto;
  }
  .footer {
    width: 100%;
    background-position-y: bottom;
  }
  .catalogo {
    width: 100%;
  }
  .accesorios {
    grid-template-columns: repeat (6, 1rf);
    grid-template-rows: 5vh 5vh 25vh 25vh 25vh 15vh;
    grid-template-areas:
      ". . header header . ."
      ". . nav-accesorios nav-accesorios . ."
      "g1 g2 g3"
      "g4 g5";
      width: 100vw;
      margin: 0px;
      padding: 0%;
    }
    .nav-accesorios {
      grid-area: nav-accesorios;
      display: flex;
      width: 100%;
      text-align: center;
    }
    .g1 {
      grid-area: g1;
      display: flex;
      width: 30vw;
      height: auto;
    }
    .g2 {
      grid-area: g2;
      display: flex;
      width: 30vw;
      height: auto;
    }
    .g3 {
      grid-area: g3;
      display: flex;
      width: 30vw;
      height: auto;
    }
    .g4 {
      grid-area: g4;
      display: flex;
      width: 30vw;
      height: auto;
    }
    .g5 {
      grid-area: g5;
      display: flex;
      width: 30vw;
      height: auto;
    }
  }
  nav h2 {
    background-color: rgb(0, 0, 130);
    color: white;
    text-align: center;
  }
  .titulo-gorra { 
    background-color: rgb(0, 0, 130);
  }
  a:hover {
    background-color: rgb(0, 0, 130);
    color: white;
  }
  #navbarNav {
    justify-content: center;
  }
  li.nav-item {
    margin: 5px;
  }
  .mision {
    height: 40%;
  }
  div h1 {
    background-color: rgb(0, 0, 130);
    margin-top: 3px;
  }
  .somos-description h2 {
    margin-bottom: 10vh;
    margin-top: 3vh;
  }
  .row-g-3 {
    width: 80vw;
  }
  $primary-color: rgb(235, 255, 207);
  $bg-color: rgba(11, 0, 112, 0.314);
  body {
    color: $primary-color;
  }
  .somos-description {
    background-color: $bg-color;
  }
